.border
{
    border:1px solid red !important;
}


#container
{
    font-family:"Verdana";

}
.col1
{
    float:left;
    padding: 1rem;
    cursor: pointer;
    width:141px;
    height: 100px; 
	
}
.row {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.col {
    float: right;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
