.border
{
    border:1px solid red !important;
}


#container
{
    border:1px solid #000;
    font-family:"Verdana";

}
#videoWrapper
{
    width:365px;
    
}
.col1
{
    float:left;
    padding: 1rem;
    cursor: pointer;
    width:141px;
    height: 100px; 
	
}

iframe{
    position: relative;
    top: 4px;
}


#thumbnailContainer
{
    height: 114% !important;
    border:1px solid #c0c0c0;
    background-color: #F0F0F0;
    width: 102%;
    

}


#notice
{
    font-size:10px;
    font-weight:bold;

}
.card-header
{
    padding: 0.25rem;
    border: 1px solid #c0c0c0;
}
.collaspeIcon
{
    padding:0px 2px;
    border-radius:50%;
    background-color:#ddd;
    border:2px solid grey;
    margin-right:1rem;
}
.card-body
{
padding: 10px 15px;
font-size:12px;
}
.hideMyWrapper
{
    display: none;
}
.showMyWrapper
{
    position:absolute;
    z-index: 1001;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.6);
}

#showFrame
{
    width:740px;
    margin:auto;
    margin-top:20px;
}
.row {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.col {
    float: right;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#container{
    padding: 0px;
    margin: 8px 0px 12px 8px;
    border-top: 1px solid lightgrey;
}
.col-md-7 {
    padding: 4px 21px 0px 12px;
}

.credit{
    font-size: 10px;
    margin: 22px 0px 14px 17px;
    z-index: 1;
    text-decoration: underline;
    text-decoration-color: blue;
}
.credit a {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue !important;
}
.card{
    border:none !important;
    word-wrap: none !important;
}
.ngbTooltipC{

    background-color: green !important;
    color: red !important;
}